@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy-Bold'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy-Heavy';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy-Heavy'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy-Light'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Light.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy-Medium'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy-Regular'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Regular.woff') format('woff');
}
* {
  font-family: 'Gilroy-Regular';
  color: #222831;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'Gilroy-Regular';
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222831;
  width: 60%;

}

.container{
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  background-color: #E9ECF1;
  border-radius: 10px;
  height: 64px;
}



.container input{
  font-size: 14pt;
  padding: 0px;
  margin: 0px;
  border-width: 0;
  border: none;
  background-color: #E9ECF1;
  height: 40px;
  width: 100%;
  border-color: #222831;
  text-align: left;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 20px;
}



.container img{
  width: 48px;
  height: 48px;
  background-color: none;
  padding-right: 20px;
  background: none;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 20px;
  padding-top: 40px;
  padding-left: 20px;
}
.result {
  visibility: visible;
}
.card {
  width: 290px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin-bottom: 25px;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Items aligned to the start of the column */
  position: relative;
  color: rgb(68, 68, 68);
  font-size: 16px;
  text-align: left;
  word-wrap: break-word;
}

.card img {
  border-radius: 16px;
  width: 100%;
  height: 290px;
  object-fit: contain; /* Ensure the image is fully visible without cropping */
  flex-shrink: 0; /* Prevent shrinking */
}

.card_content {
  padding: 10px 15px;
  flex-grow: 1;
  overflow: hidden;
}

.card_content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  text-align: center;
  background-color: #E9ECF1;
  height: 40px;
  line-height: 40px;
  border-radius: 16px;
  transition: background-color 0.2s linear, color 0.2s linear;
  width: 100%; /* Full width of the card */
  margin-top: auto; /* Push the link to the bottom */
}

a:hover {
  background-color: rgb(64, 139, 237);
}


h2 {
  font-size: 220%;
  color: rgb(64, 139, 237);
}
h3, p, a {
  font-size: 150%;
}


a:hover{
  background-color: rgb(64, 139, 237);
}
.error_message {
  color: red;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
